{% extends 'base.html' %}
{% load static %}
{% load template_tags %}
{% load crispy_forms_tags %}

{% block title_page %}
{{title_page}}
{% endblock title_page %}

{% block css %}

{% endblock css %}

{% block navigation %}

{% endblock navigation %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row mb-1">
                        <div>
                            <a href="{{url}}"><i class="fas fa-chevron-left mr-3 pt-1" style="font-size:x-large;"></i></a>
                        </div>
                        <p class="h4">{{title}}</p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-3">Nama</label>
                            <div class="col-md-9">{{object.pegawai.full_name}}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3">Unit/Instalasi</label>
                            <div class="col-md-9">{{object.instalasi.instalasi}}</div>
                        </div>
                    </div>
                        <table id="formset" class="form table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Tanggal</th>
                                    <th>Jam Datang</th>
                                    <th>Jam Pulang</th>
                                    <th>Status Kehadiran</th>
                                    <th>Ketepatan Waktu</th>
                                    <th>Alasan</th>
                                    <th>Keterangan</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in riwayat_kehadiran %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.tgl }}</td>
                                    <td>
                                        {% if item.status %}
                                            {{ item.jam_datang }}
                                        {% else %}
                                            <span class="badge badge-secondary">N/A</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.status %}
                                            {{ item.jam_pulang|default:"N/A" }}
                                        {% else %}
                                            <span class="badge badge-secondary">N/A</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="{% if item.status == 'Hadir' %}badge badge-success{% else %}badge badge-danger{% endif %}">{{item.status}}</span>
                                    </td>
                                    <td>
                                        {% if item.status %}
                                            {{ item.ketepatan }}
                                        {% else %}
                                            <span class="badge badge-secondary">Tidak Berlaku</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ item.alasan }}</td>
                                    <td>
                                        {% if item.ket %}
                                            {{ item.ket }}
                                        {% else %}
                                            <span class="badge badge-secondary">N/A</span>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



{% block script %}
<script>
    $(document).ready(function () {
        $('#data_table').DataTable({
            dom: 'Blfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
        });
    });

    $(document).ready(function() {
        $('.sdm').select2();
        selectOnClose: true
    });
</script>

<script>
    $(document).ready(function(){
        $('.pegawai').hide();
        $('.select2').select2();
    });
</script>

{% endblock script %}