<div class="table table-responsive">
    <table class="table" id="data_table">
        <thead>
            <tr>
                <th>No</th>
                <th>Pegawai</th>
                <th>Bidang</th>
                <th>Judul</th>
                <th>Tanggal</th>
                <th>SK</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.pegawai.full_name}}</td>
                <td>{{item.bidang}}</td>
                <td>{{item.judul}}</td>
                <td>{{item.tanggal}}</td>
                <td>{% if item.file_sk %}
                    <a href="{{item.file_sk.url}}"><i class="fas fa-file-download"></i></a>
                    {% else %}
                    <i class="fas fa-times" style="font-weight: bold; color:red"></i>
                    {% endif %}</td>
                <td>
                    <a href="?nip={{item.pegawai.profil_user.nip}}" class="btn btn-primary"><i class="fas fa-user"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
                    