<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-3">
                NIP/NRK
            </div>
            <div class="col-md-9">
                {{user.profil_user.nip}}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Nama
            </div>
            <div class="col-md-9">
                {{user.full_name}}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table table-responsive">
            <table class="table" id="data_table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Sub Bidang</th>
                        <th>Jenis Jabatan</th>
                        <th>Nama Jabatan</th>
                        <th>TMT Jabatan</th>
                        <th>Tanggal SK</th>
                        <th>File</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.sub_bidang}}</td>
                        <td>{{item.jns_jabatan}}</td>
                        <td>{{item.nama_jabatan}}</td>
                        <td>{{item.tmt_jabatan}}</td>
                        <td>{{item.tgl_sk}}</td>
                        <td>{% if item.file %}
                            <a href="{{item.file.url}}"><i class="fas fa-cloud-download-alt"></i></a>
                            {% else %}
                            <i class="fas fa-times" style="font-weight: bold; color:red"></i>
                            {% endif %}</td>
                        <td>
                            <a href="{% url 'riwayat_urls:riwayat_update_jabatan' id=item.id %}" class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'riwayat_urls:riwayat_delete_jabatan' pk=item.id %}#deletedata" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        
    </div>
</div>
                    