{% extends 'base_riwayat.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_page %}
{{title_page}}
{% endblock title_page %}

{% block subcontent %}
<div class="row">
    <div class="{% if not request.user.is_superuser or not request.user.is_staff %} col-md-9 {% else %} col-md-12 {% endif %}">
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex flex-sm-wrap">
                    {% for dok in jenis_dok %}
                    {% if dok.url == 'jabatan' %}
                        {% if request.user.is_superuser %}
                            <a href="{{dok.url}}?jabatan=struktural" class="col-sm-3">
                                <div class="small-box-sisdm bg-info p-2">
                                    <div class="inner">
                                        <div class="icon" style="width: 100%;">
                                            <i class="fas {{dok.icon}}"></i>
                                        </div>
                                        <div class="text-white d-flex justify-content-center mt-2">
                                            <h6 class="text-center" style="font-size: small;">{{dok.nama}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% else %}
                            <a href="{{dok.url}}" class="col-sm-3">
                                <div class="small-box-sisdm bg-info p-2">
                                    <div class="inner">
                                        <div class="icon" style="width: 100%;">
                                            <i class="fas {{dok.icon}}"></i>
                                        </div>
                                        <div class="text-white d-flex justify-content-center mt-2">
                                            <h6 class="text-center" style="font-size: small;">{{dok.nama}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% elif dok.url == 'disiplin' %}
                    <a href="{% url 'disiplinsdm_urls:jadwal_list' %}" class="col-sm-3">
                        <div class="small-box-sisdm bg-info p-2">
                            <div class="inner">
                                <div class="icon" style="width: 100%;">
                                    <i class="fas {{dok.icon}}"></i>
                                </div>
                                <div class="text-white d-flex justify-content-center mt-2">
                                    <h6 class="text-center" style="font-size: small;">{{dok.nama}}</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% else %}
                    <a href="{{dok.url}}" class="col-sm-3">
                        <div class="small-box-sisdm bg-info p-1">
                            <div class="inner">
                                <div class="icon" style="width:100%;">
                                    <i class="fas {{dok.icon}}"></i>
                                </div>
                                <div class="text-white d-flex justify-content-center mt-2">
                                    <h6 class="text-center" style="font-size: small;">{{dok.nama}}</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>        
    </div>
   
    {% if not request.user.is_superuser or not request.user.is_staff %}
    <div class="col-md-3">
        <div class="card card-solid">
            <h5 class="text-center mt-3">Daftar File Kepegawaian</h5>
            {% include 'link_file_pegawai.html' %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock subcontent %}

{% block script %}
<script>
    $(document).ready(function () {
        $('#data_table').DataTable({});
    });
</script>

<script>
    const btn = document.getElementById('add_data');
    const form = document.getElementById('form_data');
    const data = document.getElementById('list_data');
    btn.addEventListener('click', () => {
        if (form.style.display === 'none' && data.style.display === 'block') {
            // 👇️ this SHOWS the form
            form.style.display = 'block';
            data.style.display = 'none';
            btn.value="Lihat Data";
        } else {
            // 👇️ this HIDES the form
            form.style.display = 'none';
            data.style.display = 'block';
            btn.value="Tambah Data"      
        }
});
</script>
    
{% endblock script %}