<div class="table table-responsive">
    <table class="table" id="data_table">
        <thead>
            <tr>
                <th>No</th>
                <th>Pegawai</th>
                <th>Kompetensi</th>
                <th>No Sertifikat</th>
                <th>Tgl Sert</th>
                <th>Berlaku s/d</th>
                <th>File</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.pegawai.full_name}}</td>
                <td>{{item.kompetensi}}</td>
                <td>{{item.no_sert_komp}}</td>
                <td>{{item.tgl_sert_komp}}</td>
                <td>{{item.masa_berlaku}}</td>
                <td>
                    {% if item.file_sert %}
                    <a href="{{item.file_sert.url}}"><i class="fas fa-file-download"></i></a>
                    {% else %}
                    <i class="fas fa-times" style="font-weight: bold; color:red"></i>
                    {% endif %}
                </td>
                <td>
                    <a href="?nip={{item.pegawai.profil_user.nip}}" class="btn btn-primary"><i class="fas fa-user"></i></a>
                    <a href="{% url 'riwayat_urls:riwayat_update_kompetensi' id=item.id %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'riwayat_urls:riwayat_delete_kompetensi' pk=item.id %}#deletedata" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
                    