{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_page %}
{{title_page}}
{% endblock title_page %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dist/css/riwayat.css' %}">
{% endblock styles %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row mb-1">
                        {% if update_form or request.user.is_superuser and nip %}
                            <a href="{% url 'riwayat_urls:riwayat_penugasan' %}" class="text-dark mr-2"><i class="fas fa-arrow-left ml-2" style="cursor: pointer; font-size:20px;"></i></a>
                        {% endif %}
                        <h5>Data Riwayat Penugasan</h5>
                    </div>
                    {% if not update_form %}
                    <div>
                        {% if not request.user.is_superuser %}
                        <a href="{% url 'riwayat_urls:riwayat_penugasan_urutkan' pk=dok.id %}" class="btn btn-outline-info">Urutkan Dokumen</a>
                        {% elif nip %}
                        <a href="{% url 'riwayat_urls:riwayat_penugasan_urutkan' pk=dok.id %}?nip={{nip}}" class="btn btn-outline-info">Urutkan Dokumen</a>
                        {% endif %}
                        {% if add_form %}
                        <a class="btn btn-outline-primary" href="{% url 'riwayat_urls:riwayat_penugasan' %}">Lihat Data</a>    
                        {% else %}
                        <a class="btn btn-outline-primary" href="{% url 'riwayat_urls:riwayat_add_penugasan' %}">Tambah Data</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                {% if add_form or update_form %}
                <div class="row" id="form_data">
                    <div class="col-md-12">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form | crispy}}
                            <input type="submit" value="Simpan" class="btn btn-success">
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="row" id="list_data"></div>
                    <div class="col-md-12">
                        {% if nip %}
                            {% include '19_riwayat_penugasan/riwayat_penugasan_perorang.html' %}
                        {% elif request.user.is_superuser  %}
                            {% include '19_riwayat_penugasan/riwayat_penugasan.html' %}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- modal delete data -->
    <div id="deletedata" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a href="#close" title="Close" class="close">&times;</a>
            <h2>Delete Data</h2>
            <p>Apakah benar anda akan menghapus "{{ object }}"?</p>
            <div class="d-flex justify-content-center">
                <form action="#close" method="post">{% csrf_token %}
                    <button class="btn btn-outline-danger" type="submit">Delete</button>
                </form>
                <a href="{% url 'riwayat_urls:riwayat_penugasan' %}" class="btn btn-outline-info ml-3">Cancel</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('#data_table').DataTable({
            dom: 'Blfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
        });
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var anggaran = document.getElementsByName('anggaran');
        var sumber_angg = document.getElementById('id_sumber_angg');
    
        function toggleField2() {
            if (document.querySelector('input[name="anggaran"]:checked') != null && document.querySelector('input[name="anggaran"]:checked').value === 'on' ) {
                sumber_angg.style.display = 'block';
            } else {
                sumber_angg.style.display = 'none';
            }
        }
        anggaran.forEach(function(radio) {
            radio.addEventListener('change', toggleField2);
            if (radio.checked) {
                console.log('masuk sini')
                toggleField2.call(radio);
            }
        });
    });
</script>
    
{% endblock script %}