<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-3">
                No KK
            </div>
            <div class="col-md-9">
                {{pegawai.no_kk}}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Nama Pegawai
            </div>
            <div class="col-md-9">
                {{pegawai.pegawai.full_name}}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="mb-3">
            {% include '16_riwayat_anggota_keluarga/riwayat_data_anggota_keluarga_navs.html' %}
        </div>
        <div class="table table-responsive mt-2">
            {% if status == 'orang-tua' %}
            <table class="table" id="data_table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Status Hidup</th>
                        <th>Pekerjaan</th>
                        <th>Jenis Kelamin</th>
                        <th>Agama</th>
                        <th>Alamat</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.nama}}</td>
                        <td>
                        {% if item.status_hidup %}
                            Hidup
                        {% else %}
                            Meninggal
                        {% endif %}
                        </td>
                        <td>{{item.pekerjaan}}</td>
                        <td>{{item.jk}}</td>
                        <td>{{item.agama}}</td>
                        <td>{{item.alamat}}</td>
                        <td><a href="{% url 'riwayat_urls:riwayat_update_anggota_keluarga' status='orang-tua' keluarga_id=item.keluarga.id id=item.id %}" class="btn btn-outline-info"><i class="fas fa-edit"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% elif status == 'pasangan' %}
            <table class="table" id="data_table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Hubungan</th>
                        <th>Pasangan Ke</th>
                        <th>TTL</th>
                        <th>Jenis Kelamin</th>
                        <th>Pekerjaan</th>
                        <th>Telp/HP</th>
                        <th>Agama</th>
                        <th>Alamat</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.nama}}</td>
                        <td>{{item.keluarga.status_klg}}</td>
                        <td>{{item.pasangan_ke}}</td>
                        <td>{{item.tempat_lahir}} / {{item.tgl_lahir}}</td>
                        <td>{{item.jk}}</td>
                        <td>{{item.pekerjaan}}</td>
                        <td>{{item.tlp}}</td>
                        <td>{{item.agama}}</td>
                        <td>{{item.alamat}}</td>
                        <td><a href="{% url 'riwayat_urls:riwayat_update_anggota_keluarga' status='pasangan'  keluarga_id=item.keluarga.id id=item.id %}" class="btn btn-outline-info"><i class="fas fa-edit"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <table class="table" id="data_table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>TTL</th>
                        <th>Status Hidup</th>
                        <th>Jenis Kelamin</th>
                        <th>Pekerjaan</th>
                        <th>Telp/HP</th>
                        <th>Agama</th>
                        <th>Alamat</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.nama}}</td>
                        <td>{{item.tempat_lahir}} / {{item.tgl_lahir}}</td>
                        <td>
                            {% if item.status_hidup %}
                                Hidup
                            {% else %}
                                Meninggal
                            {% endif %}
                        </td>
                        <td>{{item.jk}}</td>
                        <td>{{item.pekerjaan}}</td>
                        <td>{{item.tlp}}</td>
                        <td>{{item.agama}}</td>
                        <td>{{item.alamat}}</td>
                        <td><a href="{% url 'riwayat_urls:riwayat_update_anggota_keluarga' status='anak'  keluarga_id=item.keluarga.id id=item.id %}" class="btn btn-outline-info"><i class="fas fa-edit"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>        
    </div>
</div>
                    