{% extends 'base.html' %}

{% block title_page %}
{{title_page}}
{% endblock title_page %}

{% block styles %}

{% endblock styles %}

{% block content %}
<div class="card card-solid">
    <div class="card-body pb-0">
        <div class="row">
            {% for item in data %}
            {% if item.status %}
            {% if item.url == 'yancuti' %}
            <a href="{{item.url}}/riwayat/" class="col-sm-3">
                <div class="small-box-sisdm bg-success">
                    <div class="inner">
                        <div class="icon">
                            <i class="fas {{item.icon}}"></i>
                        </div>
                        <div class="text-white d-flex justify-content-center mt-2">
                            <h5>{{item.nama}}</h5>
                        </div>
                    </div>
                </div>
            </a>
            {% else %}
            <a href="{{item.url}}/" class="col-sm-3">
                <div class="small-box-sisdm bg-success">
                    <div class="inner">
                        <div class="icon">
                            <i class="fas {{item.icon}}"></i>
                        </div>
                        <div class="text-white d-flex justify-content-center mt-2">
                            <h5>{{item.nama}}</h5>
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            
            {% else %}
            <a href="#" class="col-sm-3">
                <div class="small-box-sisdm" style="background-color: rgb(160, 215, 160);">
                    <div class="inner text-center">
                        <div class="icon fa-stack fa-2x">
                            <i class="fas {{item.icon}}"></i>
                            <i class="fas fa-ban fa-2x" style="color:Tomato; margin-top:-40px;"></i>
                        </div>
                        <div class="text-white d-flex justify-content-center mt-2">
                            <h5>{{item.nama}}</h5>
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock script %}