{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_page %}
{{title_page}}
{% endblock title_page %}

{% block navigation %}

{% endblock navigation %}

{% block cardtitle %}
<strong>List Indikator Layanan</strong>
{% endblock cardtitle %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row mb-1">
                        <a href="{% url 'riwayat_urls:riwayat_penempatan' %}" class="text-dark mr-2"><i class="fas fa-arrow-left ml-2" style="cursor: pointer; font-size:20px;"></i></a>
                        <h5>Riwayat Penempatan Instansi Luar RS</h5>
                    </div>
                    <div>
                        <a href="{% url 'riwayat_urls:riwayat_penempatan' %}" class="btn btn-outline-success" >Lihat Data</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row" id="form_data">
                    <div class="col-md-12">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form | crispy}}
                            <input type="submit" value="Simpan" class="btn btn-success">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



{% block script %}
    
{% endblock script %}