<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-3">
                NIP/NRK
            </div>
            <div class="col-md-9">
                {{user.profil_user.nip}}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Nama
            </div>
            <div class="col-md-9">
                {{user.first_name}} {{user.last_name}}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table table-responsive">
            <table class="table" id="data_table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Level Pend.</th>
                        <th>Pendidikan</th>
                        <th>Sekolah/Universitas</th>
                        <th>Tgl Lulus</th>
                        <th>Nomor Ijazah</th>
                        <th>Status File</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.level_pend}}</td>
                        <td>{{item.pendidikan}}</td>
                        <td>{{item.nama_sek}}</td>
                        <td>{{item.tgl_lulus}}</td>
                        <td>{{item.no_ijazah}}</td>
                        <td>{% if item.file_ijazah %}
                            <a href="{{item.file_ijazah.url}}"><i class="fas fa-cloud-download-alt"></i></a>
                            <!-- <i class="fas fa-check-double" style="font-weight: bold; color:blue"></i> -->
                            {% else %}
                            <i class="fas fa-times" style="font-weight: bold; color:red"></i>
                            {% endif %}</td>
                        <td>
                            <a href="{% url 'riwayat_urls:riwayat_update_pendidikan' id=item.id %}" class="btn btn-outline-info"><i class="fas fa-edit"></i></a> 
                            <a href="{% url 'riwayat_urls:riwayat_delete_pendidikan' pk=item.id %}#deletependidikan" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        
    </div>
</div>
                    