<div class="row">
    <div class="col-md-12">
        <div class="row mb-3">
            <div class="col-md-3">Deksripsi Masalah</div>
            <div class="col-md-9">{{detail.deskripsi}}</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">Gambar</div>
            <div class="col-md-12"><img src="{{ detail.gambar.url }}" alt="My Image" height="auto" width="50%"></div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">Status Penanganan</div>
            <div class="col-md-9">{{detail.status}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Keterangan</div>
            <div class="col-md-9">{{detail.keterangan}}</div>
        </div>
    </div>
</div>