
<div class="row">
    <div class="col-md-12">
        <div class="card card-solid">
            <div class="card-body pl-3 pb-0 pt-3 pr-2 bg-light">
                <div class="row">
                    <div class="col-md-12">
                        <h6>Keterangan status:</h6>
                    </div>
                </div>
                {% include '1_laporan/progress_indikator.html' %}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table table-responsive">
            <table class="table" id="data_table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tanggal</th>
                        <th>Pegawai</th>
                        <th>Deskripsi Masalah</th>
                        <th>Gambar</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.created_at}}</td>
                        <td>{{item.pegawai.full_name}}</td>
                        <td>{{item.deskripsi}}</td>
                        <td>
                            {% if item.gambar %}
                                <a href="{{item.gambar.url}}"><i class="fas fa-image"></i></a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>{% if item.status == 'Laporan' %}
                            <i class="fab fa-dochub" style="color: red;"></i>
                            {% elif item.status == 'Tindaklanjut' %}
                            <i class="far fa-hourglass" style="color: orange;"></i>
                            {% elif item.status == 'Selesai' %}
                            <i class="far fa-calendar-check" style="color: blue;"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'laporan_urls:laporan_update_view' id=item.id %}" class="btn btn-outline-info"><i class="fas fa-info"></i></a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        
    </div>
</div>