{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_page %}
Layanan cuti
{% endblock title_page %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dist/css/yancuti.css' %}">
{% endblock styles %}

{% block navigation %}

{% endblock navigation %}

{% block cardtitle %}
<strong>Layanan Cuti</strong>
{% endblock cardtitle %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card mb-5">
                    <div class="card-header">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row mb-1">
                                {% if status != 'riwayat' or status == 'riwayat' and case is not None %}
                                    <a href="{% url 'layanan_urls:layanan_cuti_view' status='riwayat' %}" class="text-dark mr-2"><i class="fas fa-arrow-left ml-2" style="cursor: pointer; font-size:20px;"></i></a>
                                {% endif %}
                                <h5 id="card_title_cuti">{{card_title}}</h5>
                            </div>
                            <div>
                                {% if status == 'riwayat' %}
                                <a class="btn btn-outline-success" href="{% url 'layanan_urls:layanan_cuti_view' status='baru' %}" id="add_data" value="Ajukan Cuti">Ajukan Cuti</a>
                                {% else %}
                                <a class="btn btn-outline-success" href="{% url 'layanan_urls:layanan_cuti_view' status='riwayat' %}" id="add_data" value="Riwayat Cuti">Riwayat Cuti</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row" id="form_data">
                            <div class="col-md-12">
                                <div class="row">
                                    {% if not request.user.is_superuser %}
                                    <div class="col-md-12 border border-success border-block rounded p-2" style="background-color: rgb(164, 233, 176);">
                                        {% if cek_sisa_cuti > 0 %}
                                            <span>
                                                Sisa cuti tahunan anda {{cek_sisa_cuti}} hari
                                                {% if cek_sisa_tunda_cuti > 0 %}
                                                    dan sisa cuti tertunda {{cek_sisa_tunda_cuti}} hari
                                                {% endif %}
                                            </span> 
                                        {% else %}
                                            <span>
                                                Jatah cuti tahunan anda sudah habis 
                                                {% if cek_sisa_tunda_cuti > 0 %}
                                                    dan sisa cuti tertunda {{cek_sisa_tunda_cuti}} hari
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                                {% if status == 'baru' or status == 'tunda' or status == 'ambil-tunda' %}
                                <div class="mt-3">
                                    {% include '6_layanan_cuti/layanan_cuti_navs.html' %}
                                </div>
                                {% endif %}
                                <div class="row mt-3" id="form_data" style="display: {{form_view}};">
                                    <div class="col-md-12">
                                        {% include '6_layanan_cuti/layanan_cuti_form.html' %}
                                    </div>
                                </div>
                                <div class="row" id="list_data" style="display: {{data_view}};">
                                    <div class="col-md-12">
                                        {% if status == 'riwayat' %}
                                            {% if case %}
                                                {% include '6_layanan_cuti/layanan_cuti_tindaklanjut.html' %}
                                            {% elif nip %}
                                                {% include '6_layanan_cuti/layanan_cuti_perorang.html' %}
                                            {% elif request.user.is_superuser  %}
                                                {% include '6_layanan_cuti/layanan_cuti.html' %}
                                            {% else %}
                                                {% include 'riwayat_404.html' %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-md-3">
                {% if status == 'riwayat' %}
                <div class="row" style="display: block;" id="desk_status">
                    <div class="col-md-12">
                        <div class="card card-solid">
                            <div class="card-body p-1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Deskripsi Status</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="font-size: small;">
                                        <ul>
                                            <li><span style="font-weight: bold;">Draft</span> : Dokumen masih dalam bentuk draft silahkan UPLOAD data dukung untuk dapat ditindaklanjuti oleh subbagian SDM</li>
                                            <li><span style="font-weight: bold;">Pengajuan</span> : Dokumen pengajuan cuti sudah masuk ke subbagian SDM dan belum ditindaklanjut</li>
                                            <li><span style="font-weight: bold;">Tidak diTL</span> : Pengajuan cuti tidak ditindaklanjuti karena tidak disetujui pimpinan atau alasan lain silahkan hubungi subbagian SDM</li>
                                            <li><span style="font-weight: bold;">DiTL</span> : Pengajuan cuti telah disetujui dan dalam proses penerbitan surat cuti</li>
                                            <li><span style="font-weight: bold;">Selesai</span> : Surat cuti telah diterbitkan, dan silahkan download surat di menu download</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-solid">
                            <div class="card-body p-1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Deskripsi Menu</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="font-size: small;">
                                        <ul>
                                            <li><span style="font-weight: bold;">Ajukan Cuti</span> adalah menu tempat untuk pengajuan cuti baru ataupun cuti tunda</li>
                                            <li><span style="font-weight: bold;">Riwayat Cuti</span> adalah menu yang menampilkan riwayat pengajuan cuti pegawai</li>
                                            <li><span style="font-weight: bold;">Cuti Tunda</span> adalah penundaan cuti tahunan yang telah direncanakan diambil pada tahun berikutnya</li>
                                            <li><span style="font-weight: bold;">Ambil Cuti Tunda</span> merupakan menu untuk mengklaim pengambilan cuti yang sempat ditunda sebelumnya</li>
                                            <li><span style="font-weight: bold;">Ajukan Cuti Tunda</span> adalah menu tempat pengajuan penundaan cuti tahunan</li>
                                            <li><span style="font-weight: bold;">Ajukan Cuti Baru</span> adalah menu untuk pengajuan cuti, baik cuti tahunan ataupun jenis cuti lainnya</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if status == 'baru' %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-solid">
                            <div class="card-body p-1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Jenis Cuti</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="font-size: small;">
                                        <ul>
                                            <li><span style="font-weight: bold;">Cuti Tahunan</span> adalah menu tempat untuk pengajuan cuti baru ataupun cuti tunda</li>
                                            <li><span style="font-weight: bold;">Cuti Alasan Penting</span> adalah menu yang menampilkan riwayat pengajuan cuti pegawai</li>
                                            <li><span style="font-weight: bold;">Cuti Melahirkan</span> adalah penundaan cuti tahunan yang telah direncanakan diambil pada tahun berikutnya</li>
                                            <li><span style="font-weight: bold;">Cuti Sakit</span> merupakan menu untuk mengklaim pengambilan cuti yang sempat ditunda sebelumnya</li>
                                            <li><span style="font-weight: bold;">Cuti Besar</span> adalah menu tempat pengajuan penundaan cuti tahunan</li>
                                            <li><span style="font-weight: bold;">Cuti Diluar Tanggungan Negara</span> adalah menu untuk pengajuan cuti, baik cuti tahunan ataupun jenis cuti lainnya</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- modal untuk persetujuan cuti -->
            <div id="openModal" class="modal-pegawai">
                <!-- Modal content -->
                <div class="modal-content-pegawai">
                    <a href="#close" title="Close" class="close-pegawai">&times;</a>
                    <p>Verifikasi Form</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{verifikator_form|crispy}}
                        <input type="submit" value="Simpan" class="btn btn-success mt-3">
                    </form>
                </div>
            </div>

            <!-- modal jumlah pegawai cuti -->
            <div class="modal fade" id="pegawaicuti" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Pegawai Cuti</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama</th>
                                            <th>Tanggal Cuti</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pegawai in cek_total_pegawai_cuti.pegawai %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{pegawai.pegawai.full_name}}</td>
                                            <td>{{pegawai.tgl_mulai_cuti|date:"d F Y"}} s/d {{pegawai.tgl_akhir_cuti|date:"d F Y"}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>                    
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

<script>
    $(document).ready(function () {
        $('#data_table').DataTable({
            dom: 'Blfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('.data_cuti').select2();
        selectOnClose: true
    });
</script>


{% endblock script %}