<div class="card card-solid">
    <div class="card-body pl-3 pb-0 pt-3 pr-2 bg-light">
        <div class="row">
            <div class="col-md-12">
                <h6>Keterangan status:</h6>
            </div>
        </div>
        <div class="row">
            {% include '6_layanan_cuti/progress_indikator.html' %}
        </div>
    </div>
</div>

<div class="table table-responsive">
    <table class="table" id="data_table">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama Pegawai</th>
                <th>Jenis Cuti</th>
                <th>Tahun Cuti</th>
                <th>Lama Cuti</th>
                <th>Status Cuti</th>
                <th>Status Proses</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.pegawai.full_name}}</td>
                <td>{{item.cuti.jenis_cuti}}</td>
                <td>{{item.cuti.tahun_cuti}}</td>
                <td>{{item.cuti.lama_cuti}}</td>
                <td>
                    {% if item.cuti.status_cuti == 'Tunda' %}
                    Tunda Cuti
                    {% elif item.cuti.status_cuti == 'Proses' %}
                    Cuti
                    {% endif %}
                <td>{% if item.status == 'draft' %}
                    <i class="fab fa-dochub" style="color: red;"></i>
                    {% elif item.status == 'pengajuan' and item.cuti.status_cuti == 'Proses' %}
                    <i class="far fa-hourglass" style="color: rgb(255, 213, 0);"></i>
                    {% elif item.status == 'pengajuan' and item.cuti.status_cuti == 'Tunda' %}
                    <i class="far fa-calendar-check" style="color: blue;"></i>
                    {% elif item.status == 'tidak ditindaklanjut' %}
                    <i class="fas fa-times" style="color: red;"></i>
                    {% elif item.status == 'tindaklanjut' %}
                    <i class="fas fa-file-signature" style="color: greenyellow;">
                    {% elif item.status == 'selesai' %}
                    <i class="far fa-calendar-check" style="color: blue;"></i>
                    {% endif %}</td>
                <td>{% if item.status == 'draft' %}
                        <a style="font-size: small;" href="{% url 'layanan_urls:layanan_cuti_update_view' status='update' id=item.id %}" class="btn btn-outline-warning">Edit</a>
                        <a class="btn btn-outline-success" href="{% url 'layanan_urls:layanan_cuti_update_view' status='riwayat' id=item.id %}?case=tindaklanjut" style="font-size: small;">Proses</a>
                    {% elif item.status == 'pengajuan' %} 
                    <!-- proses untuk menjadi pengajuan setelah disetujui atasan langsung -->
                        <a class="btn btn-outline-success" href="{% url 'layanan_urls:layanan_cuti_update_view' status='riwayat' id=item.id %}?case=tindaklanjut" style="font-size: small;">Proses</a>
                    {% elif item.status == 'tindaklanjut' %}
                        <a class="btn btn-outline-info" href="{% url 'layanan_urls:layanan_cuti_update_view' status='riwayat' id=item.id %}?case=final" style="font-size: small;">Upload Surat Cuti</a>
                    {% elif item.status == 'selesai' or item.status == 'tidak ditindaklanjut' %}
                        <a class="btn btn-outline-primary" href="{% url 'layanan_urls:layanan_cuti_update_view' status='riwayat' id=item.id %}?case=detail" style="font-size: small;">Detail Cuti</a>
                    {% endif %}</td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
                    