{% extends 'base.html' %}
{% load static %}
{% load template_tags %}
{% load crispy_forms_tags %}
<!-- {% load humanize %} -->

{% block title_page %}
{{title_page}}
{% endblock title_page %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dist/css/riwayat.css' %}">
{% endblock styles %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="{% if not update_form %} col-md-9 {% else %} col-md-12 {% endif %}">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row mb-1">
                                <a onclick="history.back()" class="text-dark mr-2"><i class="fas fa-arrow-left ml-2" style="cursor: pointer; font-size:20px;"></i></a>
                                <h4>{{card_title}}</h4>
                            </div>
                            <div><input type="button" class="btn btn-outline-success" id="add_data" value="Usulan Diklat"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row" id="form_data">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-4">Pengusul awal</label>
                                    <div class="col-md-8">
                                        {% for pegawai in riwayat_object.pegawai.all %}
                                            {{pegawai.full_name}}, 
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4">Nama Diklat</label>
                                    <div class="col-md-8">{{riwayat_object.nama_diklat}}</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4">Jenis</label>
                                    <div class="col-md-8">{{riwayat_object.jenis_diklat}}</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4">Waktu</label>
                                    <div class="col-md-8">{{riwayat_object.tgl_mulai}} s/d {{riwayat_object.tgl_selesai}}</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <span style="font-size: larger;">Alihkan diklat kepada: </span>
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{form | crispy}}
                                    {{ riwayat_form.management_form }}
                                    {% for riwayat in riwayat_form %}
                                    {{riwayat | crispy}}
                                    {% endfor %}
                                    <input type="submit" value="Simpan" class="btn btn-success">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if not update_form %}
            <div class="col-md-3">
                <div class="row" style="display: block;" id="desk_status">
                    <div class="col-md-12">
                        <div class="card card-solid">
                            <div class="card-body p-1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Deskripsi Status</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="font-size: small;">
                                        <ul>
                                            <li><span style="font-weight: bold;">Usulan</span> : Dokumen sudah masuk ke subbagian SDM untuk di kaji secara kebutuhan organisasi</li>
                                            <li><span style="font-weight: bold;">Proses</span> : Usulan sedang diproses oleh subbagian SDM dan dinaikkan ke pimpinan untuk mendapatkan persetujuan</li>
                                            <li><span style="font-weight: bold;">Tidak ditindaklanjut</span> : Usulan diklat tidak disetujui untuk dilaksanakan dan tidak ditindaklanjut</li>
                                            <li><span style="font-weight: bold;">Tindaklanjut</span> : Kegiatan diklat telah disetujui untuk dilaksanakan, biaya diklat telah dibayarkan atau silahkan menghubungi manajemen, SPT bisa didownload, dan segera lakukan penyelesaian dengan upload data dukung paska pelatihan</li>
                                            <li><span style="font-weight: bold;">Selesai</span> : Pelatihan dan semua berkas yang dibutuhkan untuk pertanggungjawaban telah selesai dikerjakan</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-solid">
                            <div class="card-body p-1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Deskripsi Menu</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="font-size: small;">
                                        {% if request.user.is_superuser %}
                                        <ul>
                                            <li><span style="font-weight: bold;">Proses</span> adalah menu untuk melakukan tindaklanjut usulan diklat pegawai</li>
                                            <li><span style="font-weight: bold;">Pengesahan</span> merupakan menu untuk mengunduh file pengesahan direktur serta merubah status usulan dari proses menjadi pengesahan</li>
                                        </ul>
                                        {% else %}
                                        <ul>
                                            <li><span style="font-weight: bold;">Usulan Diklat</span> adalah menu untuk mengajukan usulan diklat ke </li>
                                            <li><span style="font-weight: bold;">Edit</span> adalah menu untuk melakukan edit dokumen</li>
                                            <li><span style="font-weight: bold;">Tidak ada aksi</span> menjelaskan bahwa tidak ada proses yang dapat dilakukan lagi</li>
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- modal untuk persetujuan diklat -->
    <div id="openModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a href="#close" title="Close" class="close">&times;</a>
            <p>Verifikasi Form</p>
            <form method="POST">
                {% csrf_token %}
                {{verifikator_form|crispy}}
                <input type="submit" value="Simpan" class="btn btn-success mt-3">
            </form>
        </div>
    </div>
{% endblock %}



{% block script %}
<script>
    $(document).ready(function () {
        $('#data_table').DataTable({
            dom: 'Blfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
        });
    });

    $(document).ready(function() {
        $('.select2').select2();
    });
</script>
    
{% endblock script %}