{% extends "oauth2_provider/base.html" %}

{% load i18n %}
{% block content %}
    <div class="block-center">
        {% if not error %}
            <form id="authorizationForm" method="post">
                <h3 class="block-center-heading">{% trans "Authorize" %} {{ application.name }}?</h3>
                {% csrf_token %}

                {{ form.redirect_uri }}
                {{ form.scope }}
                {{ form.nonce }}
                {{ form.client_id }}
                {{ form.state }}
                {{ form.response_type }}
                {{ form.code_challenge }}
                {{ form.code_challenge_method }}
                {{ form.claims }}

                <p>{% trans "Application requires the following permissions" %}</p>
                <ul>
                    {% for scope in scopes_descriptions %}
                        <li>{{ scope }}</li>
                    {% endfor %}
                </ul>

                {{ form.errors }}
                {{ form.non_field_errors }}

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-large" value="{% trans 'Cancel' %}">
                        <input type="submit" class="btn btn-large btn-primary" name="allow" value="{% trans 'Authorize' %}">
                    </div>
                </div>
            </form>
        {% else %}
            <h2>Error: {{ error.error }}</h2>
            <p>{{ error.description }}</p>
        {% endif %}
    </div>
{% endblock %}
