<div class="col-md-12">
    <div class="table table-responsive">
        <table class="table" id="data_table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Penulis</th>
                    <th>Kategori</th>
                    <th>Judul</th>
                    <th>Gambar</th>
                    <th>Status</th>
                    <th>Headline</th>
                    <th>Aktif</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{item.author}}</td>
                    <td>{{item.Kategori}}</td>
                    <td>{{item.judul}}</td>
                    <td>
                        {% if item.gambar %}
                        <img src="{{item.gambar.url}}" alt="" height="60" width="60">
                        {% else %}
                        Belum ada gambar
                        {% endif %}    
                    </td>
                    <td>{{item.status}}</td>
                    <td>
                        {% if item.headline %}
                            <i class="fas fa-check-double" style="font-weight: bold; color:blue"></i>
                        {% else %}
                            <i class="fas fa-times" style="font-weight: bold; color:red"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.active %}
                            <i class="fas fa-check-double" style="font-weight: bold; color:blue"></i>
                        {% else %}
                            <i class="fas fa-times" style="font-weight: bold; color:red"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'informasi_urls:informasi_update_view' id=item.id %}?f=1" class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'informasi_urls:delete_informasi_view' pk=item.id %}#deleteview" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>        
</div>
                    