<div class="table table-responsive">
    <table class="table" id="data_table">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama Pegawai</th>
                <th>Panggol</th>
                <th>Masa Kerja</th>
                <th>TMT Gol</th>
                <th>No SK</th>
                <th>Tanggal SK</th>
                <th>Status File</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.pegawai.full_name}}</td>
                <td>{{item.panggol}}</td>
                <td>{{item.masa_kerja_tahun}} Tahun {{item.masa_kerja_bulan}} Bulan</td>
                <td>{{item.tmt_gol}}</td>
                <td>{{item.no_sk}}</td>
                <td>{{item.tgl_sk}}</td>
                <td>{% if item.file %}
                    <a href="{{item.file.url}}"><i class="fas fa-cloud-download-alt"></i></a>
                    {% else %}
                    <i class="fas fa-times" style="font-weight: bold; color:red"></i>
                    {% endif %}</td>
                <td>
                    <a href="?nip={{item.pegawai.profil_user.nip}}" class="btn btn-primary"><i class="fas fa-user"></i></a>
                    <a href="{% url 'riwayat_urls:riwayat_update_panggol' id=item.id %}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'riwayat_urls:riwayat_delete_panggol' pk=item.id %}#deletedata" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
                    