{% extends 'auth_base.html' %}
{% load static %}
{% load template_tags %}
{% load crispy_forms_tags %}

{% block title_page %}
    Login
{% endblock title_page %}

{% block content %}
<div class="row d-flex" style="height:100vh; width:100vw">
    <div class="col-md-12 card p-4 align-items-center justify-content-center">
        <h2>Ganti Password Berhasil</h2>
        <span>Password telah diganti, 
            {% if request.user.is_superuser %}
                <a href="{% url 'dashboard_urls:dashboard_view' %}">klik link ini untuk melanjutkan aktifitas anda</a>
            {% else %}
                <a href="{% url 'riwayat_urls:riwayat_view' %}">klik link ini untuk melanjutkan aktifitas anda</a>
            {% endif %}</span>
    </div>
</div>
{% endblock content %}
  